table{
	border: 2px solid black;
	border-collapse: collapse;
	font-size: 32px;

}

th{
	border: 2px solid black;
	padding: 16px;
}

td{
	border: 2px solid black;
	padding: 16px;
	text-align: center;
}

a{
	text-decoration: none;
}

body{
	background-color: #FAFAFA;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.sidebar{
	display: flex;
	justify-content: center;
	margin: 16px;
	width: auto;
	border: 1px solid grey;
	border-radius: 5px;
	background-color: #FFF;
}

.sidebar .sidebar_line {
	display: flex;
	justify-content: center;
}

.sidebar .sidebar_line a {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin: 6px;
	color: black;
	margin-left: 24px;
	margin-right: 24px;
}


.sidebar .sidebar_line img {
	width: 100px;
	height: 100px;
}

.content{
	margin: 16px;
	width: auto;
	border: 1px solid grey;
	border-radius: 5px;
	background-color: #FFF;
	padding: 64px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.table_title {
	margin-top: 0px;
}

.login_content{
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.login_form {
	width: 488px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 32px;
	border: 1px solid grey;
	border-radius: 5px;
	margin-top: 60px;
}

.login_form input{
	margin: 16px;
	width: 480px;
	font-size: 32px;
	text-align: center;
}

.login_form input[type="submit"] {
	margin-top: 48px;
}


.content .user_name {
	text-align: center;
}

.content .user_status {
	text-align: center;
}

.content .logout_ref {
	text-align: center;
}

.content .edit_form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.content .edit_form .line{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.content .edit_form label {
	font-size: 32px;
}

.content .edit_form textarea {
	max-width: 100%;
	font-size: 32px;
	min-height: 80px;
	box-sizing: border-box;
}

.content .edit_form input[type=submit] {
	margin-top: 64px;
	max-width: 100%;
	font-size: 32px;
	min-height: 80px;
}

.insert_form {
	width: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 32px;
	border: 1px solid grey;
	border-radius: 5px;
	margin-top: 60px;
}

.insert_form textarea{
	width: 100%;
	margin: 16px;
	font-size: 16px;
	resize: vertical;
	min-height: 44px;
}

.insert_form input[type=submit] {
	width: 98%;
	font-size: 32px;
}